.wrapper {
  margin: 20px;
}

.user-img {
  width: clamp(200px, 20vw, 300px);
  /* float: left;
  margin: 0 10px 10px 0; */
}

.btn {
  margin-bottom: 6px;
}

input {
  margin-bottom: 12px;
}

.list-item-checkbox {
  list-style: none;
  margin-bottom: -6px;
}

.badge:link {
  text-decoration: none;
}